body {
    background-image: url("back.jpg");
    background-size: cover;
}
/*titre*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
h1 {
    font-family: 'Parisienne', cursive;
    font-size:  50px ;
    text-align: center;
    color: blue;
    text-decoration-line: underline;

}

/*sous titre*/
h2 {
    color: blue;
    text-decoration-line: underline;
    border-style: double;
    border-color: blue;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    border-radius: 15px;
    background-color: aquamarine;
}

.candidat {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.formation {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    margin-top: 30px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.profesionnel {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    margin-top: 30px;
    background-image: url("back1.jpg");
    background-size: cover;
    background-position: -40px;
}

.hobbies {
    border-style: solid;
    border-color: black;
    width: 700px;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    margin-top: 30px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.imp {
    border-style: double;
    border-color: blue;
    margin: 30px 0;
    border-radius: 15px;
    background-color: aquamarine;
    text-decoration-line: underline;
    text-decoration-color: blue;
    width: 300px;
    text-align: center;
}

ul {
    margin-left: 100px;
    list-style-type: none;
}