body {
    background-image: url("back.jpg");
    background-size: cover;
}
/*titre*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
h1 {
    font-family: 'Parisienne', cursive;
    font-size:  50px ;
    text-align: center;
    color: blue;
    text-decoration-line: underline;
}

/*sous titre*/
h2 {
    text-align: center;
    color: blue;
    text-decoration-line: underline;
}

.candidat {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.formation {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    margin-top: 30px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.profesionnel {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: left;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    margin-top: 30px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.hobbies {
    border-style: solid;
    border-color: black;
    width: 700px;
    text-align: 200px;
    border-radius: 25px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 280px;
    margin-top: 30px;
    background-image: url("back1.jpg");
    background-size: cover;
}

.imp {
    text-decoration-line: underline;
    text-decoration-color: blue;
}

ul {
    margin-left: 100px;
}